.titleBarContainer {
  padding: 10px;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}

.iconContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  padding: 0px 6px;
  //margin-top: -10px;
  margin-top: 5px;
  z-index: 1;
}

.leftIconContainer {
  @extend .iconContainer;
  left: 16px;
}

.rightIconContainer {
  @extend .iconContainer;
  right: 16px;
}

.icon {
  width: 16px;
  height: 16px;
  //margin: auto;
}

.title {
  font-weight: 500;
  font-size: 20px;
}

.titleLight {
	font-size: 18px;
	fontFamily: 'NotoSans-SemiBold';
	color: #44004e;
	//align-self: flex-start;
	//text-align: left;
	//margin-left: 15px;
	//padding-top: 10px;
}

.titleAlignLeft {
	font-size: 16px;
	margin-top: 1px;
}

.buttonLeft {

}

.buttonRight {
	position: ab
}