.gradientContainer {
    flex: 1;
    align-items: center;
    background-color: #213349;
    flex-direction: column;
}

.contentContainer {
    align-items: center;
    padding: 25px;
    width: 100%;
    flex: 1;
    justify-content: center;
}

.textHeader {
    font-weight: 600;
    font-size: 16;
}

.textContent {
    color: #ffffff;
    font-size: 12;
    padding-bottom: 20px;
    opacity: 0.6;
    line-height: 22px;
}

.textError {
    color: #dd0000;
    font-size: 12;
    padding-bottom: 20px;
    opacity: 0.6;
    line-height: 22px;
}

.button {
    margin-top: 20px;
    width: 100%;
}

.image {
  width: 100px;
  height: 100px;
  align-self: center;
  resizeMode: contain;
}

.textWrapper {
    align-items: center;
    justify-content: center;
    padding: 25px;
    flex: 1;
}

.desc {
    font-size: 18px;
    font-family: NotoSans-Bold;
    color: #ffffff;
    padding: 0px 32px;
}

.error {
    text-align: center;
    padding: 2px 5px;
    color: #E8195F;
    font-size: 12px;
}

.loader {
    margin-top: 60px;
    width: 120px;
    height: 15px;
}
