.idea
**/node_modules
**/dist
**/build
**/.vscode
*.eslintcache
*.env
*.log
*-log-audit.json
*.iml
**/gen-src/
**/coverage/
**/.nyc_output/
/packages/data-access/data/
/**/*.pem
/**/*.srl
/**/*.pfx
**/generated/