.gradientContainer {
    flex: 1;
    align-items: center;
    background-color: #213349;
    flex-direction: column;
    justify-content: space-evenly;
	padding: 0;
}

.textWrapper {
	width: 100%;
    align-items: flex-start;
    justify-content: center;
	padding: 0 32px;
}

.title {
    font-weight: 100;
	line-height: 43px;
	font-size: 38;
	font-family: NotoSans-Bold;
    color: #ffffff;
    padding-bottom: 8px;
    padding-top: 16px;
}

.desc {
    font-weight: 100;
	font-size: 13;
	font-family: NotoSans-SemiBold;
	font-weight: 600;
    color: #ffffff;
}

.logo {
	position: absolute;
	bottom: 32px;
	right: 32px;
    width: 128px;
    height: 88px;
	resize-mode: contain;
    margin: 4px;
	align-self: flex-end;
}

.mesh {
	top: 0;
	position: absolute;
	height: 102%;
	width: 102%;
	flex: 1;
	resize-mode: cover;
}

.loader {
    margin-top: 60px;
    width: 120px;
    height: 15px;
}
