.bottomCardWrapper {
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.modalOverlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.bottomCard {
    min-height: 300px;
    padding: 20px 0px 28px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    flex: 0.6;
    width: 100%;
}
