.gradientContainer {
    flex: 1;
    align-items: center;
    background-color: #213349;
    flex-direction: column;
}

.contentContainer {
    align-items: center;
    padding: 25px;
    width: 100%;
    flex: 1;
}

.headerContainer {
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 56px;
}

.textHeader {
    color: #fff;
    font-weight: 600;
    font-size: 16;
}

.textContent {
    color: #f3f4f8;
    font-size: 12;
    padding-bottom: 20px;
    opacity: 0.6;
    line-height: 22px;
}

.buttonContainer {
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}

.button {
    margin-top: 20px;
    width: 100%;
}

.linkButton {
    flex-direction: row;
    align-items: center;
    justify-content: center;
	margin-top: 20px;
    padding-top: 10px;
}

.linkButtonText {
    color: #f0f;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 300;
}

.buttonRightIcon {
    width: 12px;
    height: 12px;
    margin-left: 5px;
}