.gradientContainer {
    flex: 1;
    align-items: center;
    background-color: #213349;
    flex-direction: column;
}

.contentContainer {
    align-items: center;
	justify-content: space-between;
    padding: 25px;
    width: 100%;
    flex: 1;
}

.formContainer {
	width: 100%;
}

.headerContainer {
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 56px;
}

.textHeader {
    color: #fff;
    font-weight: 600;
    font-size: 16;
}

.textContent {
    color: #ffffff;
    font-size: 12;
    padding-bottom: 20px;
    opacity: 0.6;
    line-height: 22px;
}

.button {
    margin-top: 20px;
}

.backContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 25px;
    padding: 5px;
}

.back {
    width: 19px;
    height: 14px;
    margin: auto;
}

.checkboxContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.checkbox {
    flex: 1;
}

.checkableText {
    color: #ffffff;
    opacity: 0.5;
}