.checkboxContainer {
  flex-grow: 1;
  margin-top: 34px;
  margin-bottom: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.checkbox {
  flex: 0.1;
}

.checkableText {
  flex: 0.9;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4px;
}