.wrapper {
  border-radius: 4px;
  overflow: hidden;


	borderTopColor: #ffffffee;
	borderLeftColor: #ffffffee;
	borderRightColor: #bfa4e7ee;
	borderBottomColor: #bfa4e7ee;
}

.wrapperDisabled {
	borderTopColor: #0000;
	borderLeftColor: #0000;
	borderRightColor: #0000;
	borderBottomColor: #0000;
}

.button {
  min-width: 216px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  //padding-left: 32px;
  //padding-right: 32px;



  &__disabled {
    elevation: 0px;
    background-color: #cccccc;
  }

  &__fill {
    background-color: #4b0082;
  }
}

.gradient {
  &__start {
    x: 0;
    y: 0;
  }

  &__end {
    x: 1;
    y: 0;
  }

  &__colors {
    start: #5000b5;
    center: #490083;
    end: #450055;
  }
}

.text {
  font-size: 12px;
  font-family: 'NotoSans-Bold';
  color: #44004e;
  text-align: center;
  padding: 12px;

  &__fill {
    color: #ffffff;
  }

  &__disabled {
    color: #dddddd;
  }
}

.loading {
  padding: 12px;
}

.icon {
  max-width: 16px;
  max-height: 16px;
}

.buttonContent {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.loader {
margin-top: 14px;
  margin-bottom: 14px;
  width: 120px;
  height: 15px;
}