
.contentContainer {
    flex: 1;
    background-color: #000;
}

.bottomContainer {
    flex: 1;
    flex-direction: row;
    background-color: #0000004D;
}

.bottomContainerStyle {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.bottomContainerColor {
    color: #fff;
}

.topContainerStyle {
    flex: 1;
    align-items: flex-end;
    padding: 40px 20px;
}

.closeButton {
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  flex-direction: row;
}

.closeIcon {
  width: 18px;
  height: 18px;
}