.gradientContainer {
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.contentContainer {
	justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    flex: 1;
}

.headerContainer {
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 56px;
}

.textHeader {
    color: #fff;
    font-weight: 600;
    font-size: 16;
}

.textContent {
    color: #ffffff;
    font-size: 12;
    //padding-bottom: 15px;
    opacity: 0.6;
    line-height: 22px;
}

.mnemonicsListWrapper {
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.orderedMnemonics {
    width: 100%;
    min-height: 260px;
    flex: 1;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 16px;
}

.orderedChip {
    padding: 4px 8px;
    display: flex;
    flex-grow: 1;
}

.orderedChipText {
    color: #000000;
    text-align: center;
    font-size: 18px;
}

.button {
    margin-top: 20px;
}

.backContainer {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 25px;
    padding: 5px;
}

.back {
    width: 19px;
    height: 14px;
    margin: auto;
}
