.flexOne {
  flex: 1;
}

.paginationContainer {
  position: absolute;
  left: 16px;
  right: 16px;
}

.paginationDots {
  height: 16px;
  margin: 16px;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.leftButtonContainer {
  position: absolute;
  left: 0px;
}

.rightButtonContainer {
  position: absolute;
  right: 0px;
}

.bottomButton {
  flex: 1;
  background-color: #00000033;
  align-items: center;
  justify-content: center;
}

.buttonText {
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  padding: 12px;
}

.errorText {
  text-align: center;
  font-size: 16px;
  padding: 10px;
}