.gradientContainer {
  flex: 1;
  align-items: center;
  background-color: #213349;
  flex-direction: column;
}

.contentContainer {
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  width: 100%;
  flex: 1;
  min-height: 350px;
}

.textHeader {
  font-weight: 600;
  font-size: 16;
}

.textContent {
  color: #ffffff;
  font-size: 12;
  padding-bottom: 20px;
  opacity: 0.6;
  line-height: 22px;
}

.mnemonicsListWrapper {
  justify-content: flex-start;
}

.orderedMnemonicsCard {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
  padding: 16px;
  flex-grow: 1;
  max-height: 60%;
}

.orderedMnemonicsScrollView {
  height: 150px;
}

.orderedMnemonics {
  width: 100%;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.orderedMnemonicsFinal {
	width: 100%;
  flex: 1;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.mnemonicSuggestion {
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px 0px;
}

.orderedChip {
  padding: 5px;
  display: flex;
}

.orderedChipText {
  color: #000000;
  font-size: 18px;
}

.suggestionChip {
  background-color: #5200c6;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  margin: 5px;
}

.suggestionChipText {
  color: #ffffff;
}

.error {
  color: red;
}

.textinput {
  height: 36px;
  border-color: #f1f1f1;
  border-radius: 10px;
  border-width: 1px;
  color: #000000;
  min-width : 44px;
  padding: 2px 4px;
  margin: 5px;
}