.gradientContainer {
  flex: 1;
  align-items: center;
  background-color: #ffffff;
  justify-content: center;
  flex-direction: column;
  	padding-top: 34;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.title2 {
  margin-top: 20px;
  margin-bottom: -50px;
  align-items: center;
  color: white;
  font-family: NotoSans-Bold;
  font-size: 20;
}

.title {
	font-size: 24;
	font-family: NotoSans-SemiBold;
	
}

.subtitle {
	padding-bottom: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.numberButton {
  border-radius: 0;
  flex: 1;
}

.numberButtonText {
  text-align: center;
  font-size: 18px;
}

.styleMainContainer {
  flex: 1;
  width: 100%;
}

.stylePinCodeChooseContainer {
  flex: 1;
  width: 100%;
}

.stylePinCodeRowButtons {
  justify-content: center;
}

.stylePinCodeButtonCircle {
  margin: auto;
  border-width: 1px;
  border-color: #5200c600;
  border-radius: 50px;
  flex: 1;
  width: 100%;
  margin-bottom: -1px;
  justify-content: center;
  align-items: center;
}

.stylePinCodeEmptyColumn {
  flex: 1;
  width: 100%;
  margin: auto
}

.stylePinCodeColumnButtons {
  flex: 1;
  width: 100%;
  justify-content: center;
  height: 100%;
  margin: auto;
}

.logoContainer {
  margin-top: 10px;
  align-items: center;
  width: 100%;
}

.icon {
	position: absolute;
	bottom: -50;
	right: -100;
	resize-mode: contain;
	opacity: 0.05;
}

.iconDelete {
  width: 28px;
  height: 16px;
  margin: auto;
}

.cancelText {
  margin: auto;
  color: #ffffff;
  padding: 12px 2px;
}