.container {
    flex: 1;
    background-color: #44004e;
    padding-top: 5px;
    width: 100%;
}

.listContainer {
    margin: 0;
    padding: 0;
    padding-top: 4px;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.imageContainer {
    height: 25px;
    width: 25px;
    align-self: center;
    margin-left: 15px;
}

.listSeparator {
    height: 1px;
    width: 100%;
    background-color: #0000;
}

.textView {
    font-size: 18;
    height: 50;
    text-align: center;
    padding: 15px;
    color: #ffffff;
}

.headerText {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 28px;
    text-align: left;
    font-family: 'NotoSans-Regular';
    color: #f0f;
}

.footer {
    justify-content: center;
    align-items: center;
    padding: 16px 4px;
    width: 100%;
    margin-bottom: 8px;
}

.footerLogo {
    width: 128px;
    height: 38px;
    margin: 16px;
}

.footerText {
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: normal;
    color: #fff3;
}
