.bottomCardWrapper {
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.modalOverlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.bottomCard {
    min-height: 300px;
    padding: 20px 0px 28px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    flex: 0.6;
    width: 100%;
}

.titleContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.title {
    padding-left: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.input {
    color: #000000;
}

.closeButton {
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px 20px;
    flex-direction: row;
}

.closeIcon {
    width: 18px;
    height: 18px;
}

.selectItem {
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-color: #D8D8D8;
    padding: 16px 20px;
}

.selectItemActive {
    border-left-width: 4px;
    border-left-color: #1AB5AC;
    background-color: #F6F6F6;
}

.itemText {
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
}
.titleText { 

top:10%;

font-family: 'NotoSans-Bold';
font-size: 20px;
line-height: 33px;
color: #3D064B;
left: 10%
}
.link {
    margin-left:18px
    top:15%;
}
.subtitleText{
top:12%;
left: 10%
width: 80%
font-family: 'Noto-Sans';
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 23px;

color: #3D064B;
}