.container {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.slider {
  flex: 0.8;
}

.slide {
  flex: 0.9;
  justify-content: center;
  align-items: flex-end;
  alignSelf: stretch;
}

.slideContent {
  justify-content: center;
  width : 100%;
}

.image {
  width: 152px;
  height: 152px;
  align-self: center;
  bottom: 32px;
  resize-mode: contain;
}

.title {
  font-size: 24px;
  font-family: NotoSans-SemiBold;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  text-align: center;
  margin-bottom: 16px;
  flex-wrap: wrap;
  padding: 0 32px;
}

.text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  flex-wrap: wrap;
}

.bottomCard {
  flex: 0.2;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.mesh {

}

.row {
  text-align: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4px;
  padding: 16px;
}

.buttonTextNormal {
  font-weight: 300;
  color: #fff5;
}

.buttonLink {
  align-items: center;
  padding: 0px 8px;
}

.buttonTextLink {
  font-weight: 500;
  color: #f0f;
}

.footer {
  justify-content: center;
  font-size: 10px;
  font-weight: 300;
  color: #AAAAAA;
  text-align: center;
}
