{
  "sessionTimeoutInSeconds": 10,
  "marketCurrencyName": "nem",
  "explorerURL": {
    "testnet": "http://explorer.testnet.symboldev.network/",
    "mainnet": "http://explorer.symbolblockchain.io/"
  },
  "statisticsServiceURL": {
    "testnet": "https://testnet.symbol.services/",
    "mainnet": "https://mainnet.symbol.services/"
  },
  "faucetURL": "http://faucet.testnet.symboldev.network/",
  "aboutURL": "https://nem.io",
  "currencies": {
    "USD": "usd",
    "BTC": "btc",
    "EURO": "eur",
    "YEN": "jpy"
  },
  "syncIntervals": {
    "OFF": 0,
    "15 MIN": 15,
    "1 HR": 60,
    "4 HR": 240,
    "12 HR": 720
  },
  "defaultSyncInterval": "15 MIN",
  "nodeTypes": { "MAINNET": "mainnet", "TESTNET": "testnet", "CUSTOM": "custom" },
  "networks": {
    "mainnet": {
      "nisNodes": [
        "http://hugealice2.nem.ninja",
        "http://hachi.nem.ninja",
        "http://alice2.nem.ninja"
      ]
    },
    "testnet": {
      "nisNodes": [
        "http://hugetestalice2.nem.ninja",
        "http://hugetestalice.nem.ninja",
        "http://medalice2.nem.ninja"
      ]
    }
  },
  "defaultNetworkType": "mainnet",
  "nativeMosaicId": "5F160D7851F3CB30",
  "nglFinanceBot": {
    "testnet": [
      "E5F5638C626F58E1937C181E668EC383C94C5BC72AAE400C19AD28BDD3A4D37E"
    ],
    "mainnet": [
      "46038372D2A63D5207BDD9B33E9DA3C5B0B8EFAC399BB4103378E7994746CA14"
    ]
  },
  "optInWhiteList" : {
    "testnet": [],
    "mainnet": []
  }
}
