{
  "sessionTimeoutInSeconds": 10,
  "marketCurrencyName": "nem",
  "newsURL": "https://nemflash.io/feed",
  "explorerURL": "http://explorer.testnet.symboldev.network/",
  "faucetURL": "http://faucet.testnet.symboldev.network/",
  "aboutURL": "https://nem.io",
  "currencies": {
    "USD": "usd",
    "BTC": "btc",
    "EURO": "eur",
    "YEN": "jpy"
  },
  "syncIntervals": {
    "OFF": 0,
    "15 MIN": 15,
    "1 HR": 60,
    "4 HR": 240,
    "12 HR": 720
  },
  "defaultSyncInterval": "15 MIN",
  "nodeTypes": { "MAINNET": "mainnet", "TESTNET": "testnet", "CUSTOM": "custom" },
  "networks": {
    "mainnet": {
      "nodes": []
    },
    "testnet": {
      "nodes": [
        "http://api-01.us-west-1.testnet.symboldev.network:3000",
        "http://api-01.ap-northeast-1.testnet.symboldev.network:3000",
        "http://api-01.ap-southeast-1.testnet.symboldev.network:3000",
        "http://api-01.eu-central-1.testnet.symboldev.network:3000",
        "http://api-01.eu-west-1.testnet.symboldev.network:3000"
      ]
    }
  },
  "defaultNetworkType": "testnet",
  "nativeMosaicId": "5F160D7851F3CB30",
  "optInWhiteList" : {
    "testnet": [],
    "mainnet": []
  }
}
